# NetBeans private files
nbproject/private/


# Logs
hs_err_pid*.log
replay_pid*.log

# NetBeans build output
build/
dist/

# IDE and system files
.nbproject/private/
Thumbs.db
.DS_Store
*.log
*.class

# Keep sources and images tracked
!src/
!lib/

